@font-face {
  font-family: "";
  src: local(""),
    local("),
    url("../fonts/.woff") format("woff"),
    url("../fonts/.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
